
/* 前台界面 */
#container{ width:800px; margin:0 auto;}
#title{ 

	text-align:center; 
	font-size:20px;
	line-height:20px;
}
#content{ 

	text-align:left; 
	margin-top:20px; 
	padding:20px; 
	background:#eee;
	min-height:500px;
} 

/* ****************************ajax-page************************* */
.loading{

	position:absolute;
	top:20%;
	left:35%;
}

/*页码*/
#page{ width:800px; margin:20px auto; text-align:center;}